<?xml version="1.0" encoding="utf-8"?>
<configuration>
<connectionStrings><add name="HomeMonitorEntities" connectionString="metadata=res://*/HomeMonitorModel.csdl|res://*/HomeMonitorModel.ssdl|res://*/HomeMonitorModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(LocalDB)\v11.0;attachdbfilename=C:\Stuff\HomeMonitor\HomeMonitorApi\App_Data\HomeMonitor.mdf;integrated security=True;connect timeout=30;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings></configuration>